<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!--Fetching User Rough Location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!--Fetching User some Exact Location-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/><!--For Our Service-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /><!--Need for get the location in foreground and n GOOGLE PLAY we have to give proper reason otherwise they won't allow this permision app.-->


    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!--BioMatric Auth-->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

   <!--AR-->
        <!--
    Limits app visibility in the Google Play Store to ARCore supported devices
          (https://developers.google.com/ar/devices).
     -->
    <uses-feature android:name="android.hardware.camera.ar" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".BaseApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomSplashScreenTheme"
        android:hardwareAccelerated="true"
        tools:targetApi="31"
        android:windowSoftInputMode="adjustResize">

        <!--  For Location Tracker-->
        <service
            android:name=".features.locationTracker.LocationService"
            android:foregroundServiceType="location" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CustomSplashScreenTheme">
            <!-- For MLKit -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity-alias
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias> <!-- Android 13 でUIテストするため(BootstrapActivityエラー解決ため) -->

        <!--Start For App Icon Changer-->
        <activity-alias
            android:name=".MainActivityA"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_a"
            android:label="@string/app_name_a"
            android:roundIcon="@mipmap/ic_launcher_a_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityB"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_b"
            android:label="@string/app_name_b"
            android:roundIcon="@mipmap/ic_launcher_b_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityC"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_c"
            android:label="@string/app_name_c"
            android:roundIcon="@mipmap/ic_launcher_c_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityD"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_d"
            android:label="@string/app_name_d"
            android:roundIcon="@mipmap/ic_launcher_d_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityE"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_e"
            android:label="@string/app_name_e"
            android:roundIcon="@mipmap/ic_launcher_e_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityF"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_f"
            android:label="@string/app_name_f"
            android:roundIcon="@mipmap/ic_launcher_f_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityG"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_g"
            android:label="@string/app_name_g"
            android:roundIcon="@mipmap/ic_launcher_g_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityH"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_h"
            android:label="@string/app_name_h"
            android:roundIcon="@mipmap/ic_launcher_h_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".StartActivity"
            android:exported="true"
            android:targetActivity=".ui.MainActivity">

            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!--End For App Icon Changer-->

        <!--  For PDF View-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/tpu_provider_paths" />
        </provider>
        <activity
            android:name=".features.composePDF.pdfUseCase.PDFActivity"
            android:exported="false"
            android:label="@string/title_activity_pdfactivity"
            android:theme="@style/Theme.SimpleApp" />
        <activity
            android:name=".ar.viewXMLVideoModel.VideoARActivity"
            android:exported="false"
            android:label="@string/title_activity_video_aractivity"
            android:theme="@style/Theme.SimpleApp"/>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:label="InstrumentationActivityInvoker$BootstrapActivity" /> <!-- For MLKit -->
        <!-- For BarCode Scanner -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />
        <!--  For Google Map [set API Key-> 「MAPS_API_KEY= API_KEY」in your local.properties file]-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <!--
        "AR Required" app, requires "Google Play Services for AR" (ARCore)
        to be installed, as the app does not include any non-AR features.
        -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

       <!--  For Widget-->
        <receiver android:name=".widget.counterWidget.SimpleCounterWidgetReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/counter_widget_info" />
        </receiver>
        <!--  For workManager-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>
    </application>

</manifest>